# dependencies
node_modules/

# env files (IMPORTANT)
.env
server/.env
client/.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# build folders (for frontend later)
dist/
build/